#ytp-container {
    position: fixed;
    margin-top: 0;
    width: 90px;
    right: 0px;
    height: 80px;
}

#ytp-list {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    /* Hide scrollbar */
    padding-right: 17px; 
    box-sizing: content-box;
}

#ytp-list-control {
    border: 1px solid black;
}

#ytp-list-control-next {
    cursor: pointer;
}

#ytp-list-control-empty {
    cursor: pointer;
}

#ytp-list-control button {
    background-color: white;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
}

.ytp-add {
    opacity: 0.8;
    position: relative;
    z-index: 1000;
    margin-bottom: -30px;
    margin-right: -30px;
    top: 0;
    width: 23px;
    height: 25px;
    font-size: 30px;
    line-height: 20px;
    color: white;
    background-color: green;
    padding-left: 5px;
    padding-top: 4px;
    border: 1px solid whitesmoke;
    cursor: cell;
    -moz-user-select: none; /* Firefox */
}

.ytp-add:hover {
    border-color: forestgreen;
    background-color: greenyellow;
}

.ytp-list-item-img {
    width: 90px;
    border-bottom: 3px solid grey;
}

.ytp-list-item-delete {
    opacity: 0.5;
    position: absolute;
    width: 15px;
    height: 22px;
    font-size: 30px;
    line-height: 20px;
    color: white;
    background-color: red;
    padding-left: 7px;
    margin-top: -27px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    -moz-user-select: none; /* Not selectable text */
}

.ytp-list-item-delete:hover {
    opacity: 0.8;
    border-color: forestgreen;
    background-color: rgb(255, 102, 0);
}